/*tamanho da fonte dos componentes do primefaces*/
.ui-widget {
	font-size: 12px !important;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
.corpoPage {
	background: -webkit-linear-gradient(#FFA500, #ddd);
	background: -o-linear-gradient(#FFA500, #ddd);
	background: -moz-linear-gradient(#FFA500, #ddd);
	background: linear-gradient(#FFA500, #ddd);
}
#content {
	min-height: 93%;
	position: relative;
}

#header {
	padding: 0px;
}

#body {
	padding: 10px;
	padding-bottom: 60px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	background: #BDBDBD;
}